.footer {
    padding: 20px;
    height: 40px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
     color: whitesmoke;
}
.footer>p{
    margin: 5px;
    align-content: center;
}
.social_items{
    display: flex;
    
}
.items{
    justify-content: space-between;
    display: flex;
    padding: 8px;
     color: whitesmoke;
   
}